#!/bin/bash

export CATALINA_HOME=/apps/apache-tomcat-7.0.70
export CATALINA_BASE=$(pwd)

case "$1" in
    start)
        $CATALINA_HOME/bin/startup.sh
        ;;
    stop)
        $CATALINA_HOME/bin/shutdown.sh
        ;;
    *)
        echo "Unrecognized command $1"
        ;;
esac
